.calendar__day-card {
    width: 60px;
    background-color: #f8f9fa;
    border: 2px solid #f8f9fa;
    color: #babdbf;
    padding: 15px;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    float: left;
    margin-right: 3px;
    margin-bottom: 3px;
}

.calendar__day-card.available {
    background-color: #eceef2;
    border-color: #eceef2;
    color: #394148;
    cursor: pointer;
}

.calendar__day-card.selected {
    color: #5a5dea;
    border-radius: 5px;
    border: 2px solid #5a5dea;
}

.calendar__day-card .calendar__day-card__date {
    margin-bottom: 5px;
}

.calendar__day-card .calendar__day-card__date > span {
    font-size: 0.8rem;
}

.calendar__day-card__weekday {
    font-size: 0.8rem;
}