.calendar__time-label {
    width: 60px;
    color: #ced0d2;
    border: 2px solid #ced0d2;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    float: left;
}

.calendar__time-label.available {
    color: #394148;
    border-color: #394148;
}